/* 页面容器公共样式 */
.page-container {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(96, 96, 97, 1);
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 自定义滚动条样式 */
.scroll-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

/* 内容区域公共样式 */
.content-wrapper {
  padding: 20px;
  min-height: 100%;
} 
/* 去除li默认样式 */
ul {
  list-style: none; /* 去除 li 的默认样式 */
  padding: 0; /* 去除 ul 的默认内边距 */
  margin: 0; /* 去除 ul 的默认外边距 */
}
